.border{
    border: solid; /*3D*/
    padding:5%;
    background-color:beige;
}

.validation-error{
    color : red
}

body{
    background-image: url(background.jpg) ;
    background-size:cover;
}
 h3{
     color:limegreen;
 }

 .has-error{
     border-color: red;
 }