<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <!--Javascript Files-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.slim.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="controller.js"></script>

    <!--Stylesheets-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body ng-controller="myCtrl as ctrl">
    <div class = "container">
        <div class="page-header"><h1>Registration Form</h1></div>
        <form class="form-horizontal border" name="SignUp" novalidate ng-submit="SignUp.$valid && ctrl.register()">
            <div class="form-group">
                <label for="Email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-4">
                    <input type="email" name= "email" class="form-control" id="Email" placeholder="sample@mail.com" ng-class="{'has-error' : SignUp.email.$error.required && SignUp.email.$touched}" ng-model="ctrl.newUser.email" ng-required="true">
                    <div class="validation" data-ng-show="SignUp.email.$touched || SignUp.$submitted">
                        <span class="validation-error"
                              ng-show="SignUp.email.$error.email">
                               Not a valid email
                         </span>
                        <span class="validation-error"
                              ng-show="SignUp.email.$error.required">
                               Mandatory field
                         </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-4">
                    <input type="password" name="password" class="form-control" id="Password" placeholder="Password" ng-class="has-error" ng-model="ctrl.newUser.password" ng-required="true">
                    <div class="validation" data-ng-show="SignUp.password.$touched || SignUp.$submitted">
                        <span class="validation-error"
                                  ng-show="SignUp.password.$invalid">
                                   Mandatory Field
                             </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4">
                    <input type="text" name="name" class="form-control" id="Name" placeholder="Full Name" ng-class="{'has-error' : SignUp.name.$error.required && SignUp.name.$touched}" ng-model="ctrl.newUser.name" ng-required="true">
                    <div class="validation" data-ng-show="SignUp.name.$touched || SignUp.$submitted">
                        <span class="validation-error"
                              ng-show="SignUp.name.$error.required">
                               Mandatory Field
                         </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Gender" class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-10" id="Gender">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" id="female" value="Female" ng-model="ctrl.newUser.gender"  checked> Female
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="male" value="Male" ng-model="ctrl.newUser.gender"> Male
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="DOB" class="col-sm-2 control-label">Date</label>
                <div class="col-sm-4">
                    <input type="date" name="dob" class="form-control" id="DOB" ng-model="ctrl.newUser.dob" ng-class="has-error" ng-required="true">
                    <div class="validation" data-ng-show="SignUp.dob.$touched || SignUp.$submitted">
                        <div ng-hide="SignUp.dob.$error.required">
                            <span class="validation-error"
                                  data-ng-hide="ctrl.isAgeValid()">
                                   Must be older than 18 Years
                             </span>
                         </div>
                        <span class="validation-error"
                              ng-show="SignUp.dob.$error.required">
                               Mandatory Field
                         </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Address" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-4">
                    <input type="text" name="address" class="form-control" id="Address" ng-model="ctrl.newUser.address" ng-class="has-error" ng-required="true">
                    <div class="validation" data-ng-show="SignUp.address.$touched || SignUp.$submitted">
                        <span class="validation-error"
                              ng-show="SignUp.address.$error.required">
                               Mandatory Field
                         </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Country" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-4">
                    <input type="text" name="country" class="form-control" id="Country" ng-model="ctrl.newUser.country" ng-class="has-error" ng-required="true">
                    <div class="validation" data-ng-show="SignUp.country.$touched || SignUp.$submitted">
                        <span class="validation-error"
                              ng-show="SignUp.country.$error.required">
                               Mandatory Field
                         </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Contact" class="col-sm-2 control-label">Contact Number</label>
                <div class="col-sm-4">
                    <input type="text" name="contact" class="form-control" id="Contact" ng-model="ctrl.newUser.contact" ng-class="has-error" ng-pattern="/^[0-9]{1,8}$/" ng-required="true">
                    <div class="validation" data-ng-show="SignUp.contact.$touched || SignUp.$submitted">
                        <span class="validation-error"
                              ng-show="SignUp.contact.$error.pattern">
                               Contact number is not valid
                             </span>
                        <span class="validation-error"
                              ng-show="SignUp.contact.$error.required">
                               Mandatory Field
                         </span>
                     </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign Up</button>
                </div>
            </div>
            <!--span ng-show="ctrl.newUser.success==true"><h3>Successfully Submitted!</h3></span-->
        </form>
    </div>
</body>
</html>